@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Hubballi&family=Josefin+Sans:wght@600&family=Montserrat:wght@600&family=Staatliches&display=swap');

.btn {
    border: 2px solid black;
    background-color: #f4f3f3;
    color: black;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
}

.danger {
    border-color: #f44336;
    color: red
  }
  
.danger:hover {
    background: #f44336;
    color: white;
}
  
.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: auto;
    display: flex;
    z-index: 1;
}

