@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Hubballi&family=Josefin+Sans:wght@600&family=Montserrat:wght@600&family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.btn {
    border: 2px solid black;
    background-color: #f4f3f3;
    color: black;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
}

.danger {
    border-color: #f44336;
    color: red
  }
  
.danger:hover {
    background: #f44336;
    color: white;
}
  
.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: auto;
    display: flex;
    z-index: 1;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
}

.wrap .dipelajari {
    width: 60%;
    text-align: left;
    margin-left: 20%;
    margin-top: 5%;
}

.wrap .dipelajari h1 {
    font-family: "Staatliches";
}

.wrap .dipelajari p {
    font-family: sans-serif;
}

.web-development {
    display: flex;
    height: 100vh;
    width: 50%;
}

.web-development .left {
    flex: 30%;
}

.web-development .left img{
    width: 70%;
}

.web-development .right { 
    display: flex;
    position: relative;
}

.web-development .right div {
    top: 30px;
}

.web-development .right div h4 {
    font-family: 'Fredoka', sans-serif;
}

.web-development .right div p {
    font-family: sans-serif;
}

.backend-development {
    display: flex;
    width: 50%;
}

.backend-development .left {
    flex: 30%;
}

.backend-development .left img{
    width: 60%;
}

.backend-development .right { 
    display: flex;
    position: relative;
}

.backend-development .right div {
    top: 30px;
}

.backend-development .right div h4 {
    font-family: 'Fredoka', sans-serif;
}

.backend-development .right div p {
    font-family: sans-serif;
}
